<div class=\"front\">{{FrontSide}}</div>\n<br/>\n<div class=\"back\">{{Back}}</div>\n\n{{#Source}}<hr id=\"source\"><div class=\"smallPrint\"><i>Source</i>: {{Source}}</div>{{/Source}}"
                    
